@font-face {
  font-family: Montserrat;
  src: url("./fonts/montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("./fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

@font-face {
  font-family: Calvera;
  src: url("./fonts/calvera/Calvera.ttf");
}

:root {
  font-size: clamp(10px, 1vw, 14px);
}



.is-size-1 {
  font-size: 3rem;
}

.is-size-2 {
  font-size: 2.5rem;
}

.is-size-3 {
  font-size: 2rem;
}

.is-size-4 {
  font-size: 1.5rem;
}

.is-size-5 {
  font-size: 1.25rem;
}

.is-size-6 {
  font-size: 1rem;
}

.is-size-7 {
  font-size: 0.75rem;
}


.is-uppercase {
  text-transform: uppercase;
}



.text-titling {
  font-family: "Montserrat";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3rem;
}

.text-heading {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 2rem;
}

.text-body {
  font-family: "Montserrat";
  font-size: 1rem;
}

.text-detailing {
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 50%;
}



body {
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overscroll-behavior: none
}

.layout-app {
  font-family: 'Montserrat';
  line-height: 1;
  text-transform: uppercase;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  background: var(--color-bg);
  color: var(--color-text);
}

p,
input,
input[type="date"],
input[type="time"],
select,
label {
  font-size: 1.5rem;
  color: inherit;
}


input,
input[type="date"],
input[type="time"],
select {
  display: block;
  padding: .5rem;
  border: 1px solid var(--color-text);
  border-radius: .25rem;
  width: 100%;

  &:focus {
    outline: none;
    border-width: 4px;
    padding: calc( .5rem - 3px );
  }
}

input:user-invalid {
  border-color: var(--color-error);
}

input[type="checkbox"] {
  appearance: none;
  width: 1.15em;
  height: 1.15em;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  display: block;
  width: .65em;
  height: .65em;
  transform: scale(0);
  transition: transform .2s ease-in-out;
  box-shadow: inset 1em 1em var(--color-text);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]+label {
  color: var(--color-tertiary);
}

.form-control {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: .25rem;
}


label {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
}

label+* {
  margin-top: .25rem !important;
}

a {
  cursor: pointer;
}

h1 {
  font-weight: 900;
  font-size: 2.5rem;
}

h2 {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 2rem;
}

time {
  display: block;
  font-size: 3rem;
  font-family: 'Calvera';
}

.content {
  padding: 1rem 1rem 10rem 1rem;
}

.panel {
  border-radius: .5rem;
  background: var(--color-white);
  overflow: hidden;
  padding: 1rem;
}


.card {
  --color-bg: var(--color-text);
  background: var(--color-bg);
  border: 1px solid var(--color-bg);
  color: var(--color-text);
  padding: 1rem;
  position: relative;
  border-radius: .5rem;
  box-sizing: border-box;
}

.card-outline {
  background: transparent;
}

a.card {
  display: flex;
  text-decoration: none;
}

a.card:hover {
  border: 1px solid var(--color-text);
}


.card-fancy {
  border-bottom-left-radius: .5rem;
  border-top-right-radius: 3rem;
}

.card-transparent {
  background: transparent;
  border-color: transparent;
}



.toolbar {
  --color-bg: var(--color-black);
  --color-text: var(--color-white);
  --color-primary: var(--color-blue);

  background-color: var(--color-bg);

  display: flex;
  flex-direction: column;
  border-radius: 5rem;
  width: min-content;
  /* justify-content: center; */
  /* writing-mode: sideways-rl; */
}

.toolbar a {
  display: flex;
  background-color: transparent;
  text-decoration: none;
  justify-content: center;
  position: relative;
  color: var(--color-text);
  transition: left .2s ease-in-out;
}



.toolbar a.active {
  --offset: .8rem;
  --radius: 2.2rem;
  

  --color-text: var(--color-black);
  --color-primary: var(--color-white);

  background: var(--color-primary);

  border-start-start-radius: 3rem;
  border-end-start-radius: 3rem;
  position: relative;
  inset-inline-start: var(--offset);

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: var(--radius);
    height: var(--radius);
    pointer-events: none;
    z-index: 2;
  }

  &:not(:first-child)::before {
    inset-block-end: calc(100% - 1px);
    inset-inline-end: var(--offset);
    background: radial-gradient(circle var(--radius) at 0 0px, transparent 0, transparent var(--radius), var(--color-primary) calc( var(--radius) + 1px ));
  }

  &::after {
    inset-block-start: calc( 100% - 1px );
    inset-inline-end: var(--offset);
    background: radial-gradient(circle var(--radius) at 0 var(--radius), transparent 0, transparent var(--radius), var(--color-primary) calc( var(--radius) + 1px ));
  }

}

.toolbar a:not(:has(svg, img)) {
  font-size: 1.5rem;
  padding: .5rem;
}

.toolbar a:has(.icon) {
  width: 4rem;
  height: 4rem;
  place-items: center;
}

.toolbar .icon {
  width: 2.5rem;
  height: 2.5rem;
}



.ribbon {
  display: flex;
  width: 100%;
  background-color: var(--color-bg);
}

.ribbon>* {
  flex-grow: 1;
}

@media screen and (min-width: 500px) {
  .ribbon {
    height: 100%;
    flex-direction: column;
  }

  .ribbon>* {
    flex-grow: 0;
  }
}



.status-bar {
  background-color: var(--color-bg);
  color: var(--color-text);
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: .5rem 1rem;
}

.status-bar .phase-time {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}




.icon {
  fill: currentColor;
  height: 1em;
  width: 1em;
  display: inline-block;
}

button {
  text-transform: inherit;
  font-size: inherit;

  background: var(--color-primary);
  color: var(--color-text);
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  border: none;
}

button:hover {
  --color-primary: var(--color-black);
  --color-text: var(--color-white);
}

button[disabled] {
  pointer-events: none;
  opacity: .5;
}

.subtitle {
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: .3rem;
}

.annotation {
  font-weight: bold;
  font-size: 1.75rem;
}

.text {
  text-transform: none;
  /* font-family: sans-serif; */
  font-size: 1.2rem;
  line-height: 1.2;
}

.shadow {
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .2);
}





.hidden {
  display: none;
}

.target-visible:target {
  display: block;
}


body {
  background: black;
}

.scrollable {
  max-height: 100%;
  overflow-y: auto;
}





.button-close {
  border-radius: 100%;
  position: absolute;
  right: 0;
  top: 0;

  --color-primary: var(--color-red);
  --color-text: var(--color-white );

  border: none;
  /* width: 1.5rem; */
  height: 1.5rem;
  padding: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  translate: 50% -50%;
  z-index: 1;
}

.button-close::after {
  content: '\00d7';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-family: var(--fa-style-family);
  font-size: 1.5rem;
}

.container {
  position: relative;
}

.full {
  height: 100%;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
  border-radius: 1rem;
}

td {
  border: 1px solid var(--color-text);
  padding: .5rem;
}