/* 
** DIALOG
*/

dialog {
  background: var(--color-bg);
  border: none;
  width: max-content;
  margin-inline-end: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  height: 100dvh;
  max-height: unset;
  animation: slideOut 0.2s forwards;
  /* transition: display 0.2s step-end, overlay 0.2s step-end; */
  /* transition-behavior: allow-discrete; */
}

dialog[open] {
  animation: slideIn 0.2s forwards;
}

dialog::backdrop,
dialog + .backdrop {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

dialog[open]::backdrop,
dialog + .backdrop {
  animation: fadeIn 0.2s forwards;
}

@keyframes slideIn {
  from { translate: 100% 0% }
  to { translate: 0 0 }
}

@keyframes slideOut {
  from { translate: 0% 0% }
  to { translate: 100% 0 }
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}


/* 
** SORTABLE
*/

.is-sortable-ghost {
  opacity: .5;
}

[data-sortable-bounds] {
  position: relative;
}

[data-sortable-expand]::after {
  content: "";
  position: absolute;
  inset: 0px;
  pointer-events: none;
}

.is-sorting [data-sortable-expand]::after {
  pointer-events: all;
}

.card:has(.is-sortable-ghost) {
  background: var(--color-mid);
}