/* 
** DIALOG
*/

dialog {
  background: var(--palette-bg);
  border: none;
  border-radius: 1rem;
  padding: 2rem;
  min-width: 40vw;
  width: 600px;
  max-height: unset;
  animation: zoomOut 0.2s forwards;
  box-shadow: 2rem 2rem 5rem rgba(0,0,0,.3);
}

dialog[open] {
  animation: zoomIn 0.2s forwards;
}

dialog::backdrop,
dialog + .backdrop {
  display: block;
  background-color: color-mix( in srgb, var(--palette-fg), transparent 50% );
  backdrop-filter: blur(5px);
}

dialog[open]::backdrop,
dialog + .backdrop {
  animation: fadeIn 0.2s forwards;
}

#app {
  background: var(--palette-fg)
}

.in-app {
  transition: scale .2s;
}

#app:has(dialog[open]) .in-app {
  scale: 0.97;
}


@keyframes zoomIn {
  from { scale: .5; opacity: 0 }
  to { scale: 1; opacity: 1; }
}

@keyframes zoomOut {
  from { scale: 1; opacity: 1; }
  to { scale: .5; opacity: 0 }
}





@keyframes slideIn {
  from { translate: 100% 0% }
  to { translate: 0 0 }
}

@keyframes slideOut {
  from { translate: 0% 0% }
  to { translate: 100% 0 }
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}


/* 
** SORTABLE
*/

.is-sortable-ghost {
  opacity: .5;
}

[data-sortable-bounds] {
  position: relative;
}

[data-sortable-expand]::after {
  content: "";
  position: absolute;
  inset: 0px;
  pointer-events: none;
}

.is-sorting [data-sortable-expand]::after {
  pointer-events: all;
}

.card:has(.is-sortable-ghost) {
  /* border-width: 4px; */
  /* padding: calc( 1rem - 4px ); */
}




/**
* VIEW TRANSITIONS
*/

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(90px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-90px);
  }
}

/* define animations for the old and new content */
::view-transition-old(slide-it) {
  animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(slide-it) {
  animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

/* tie the view transition to a given CSS class */
.view-transition {
  view-transition-name: slide-it;
}