:root {
  --color-black: #2F2F2F;
  --color-white: #EFEFEF;

  --color-blue: #3498db;
  --color-purple: #9b59b6;
  --color-green: #2ecc71;
  --color-red: #e74c3c;
  --color-orange: #f39c12;
  --color-error: red;


  --color-faint: #96705B;

  --color-black: #494949;
  --color-white: #E6DCD1;
  --color-primary: #D7675C;
  --color-support: #787671;
  --color-faint: #b2a7a1;
  --color-bright: #dbcfca;

  
  --color-black: #1a1423;

  --color-black: #231423;
  --color-white: #d3bbb2;
  --color-white: #dad4c6;


  --color-light-blue: #B2BFCD;
  --color-river-stone: #7AA590;
  --color-common-ground: #635908;
  --color-canary-diamond: #C4B045;
  --color-red-sun-rising: #B22E02;
  --color-deep-orange: #8D4829;
  --color-huckleberry: #650807;
  --color-strawberry-quartz: #B97E90;
  --color-violet-strands: #A584AC;
  --color-deep-purple: #4B1434;


  --color-primary: #3D314A;
  --color-support: #3D314A;

  --color-danger: #B22E02;
  --color-valid: #037e24;


  --palette-bg: var(--color-white);
  --palette-fg: var(--color-black);
  --palette-accent: var(--color-primary);
  --palette-over-accent: var(--color-white);
  --palette-support: var(--color-support);
  --palette-faint: var(--color-faint);
  --palette-bright: var(--color-bright);
}



.color-support {
  --palette-bg: var(--color-support);
  --palette-fg: var(--color-white);
}

.color-river-stone{
  --palette-bg: var(--color-river-stone);
  --palette-fg: var(--color-black);
}

.color-common-ground{
  --palette-bg: var(--color-common-ground);
  --palette-fg: var(--color-white);
}

.color-canary-diamond{
  --palette-bg: var(--color-canary-diamond);
  --palette-fg: var(--color-black);
}

.color-red-sun-rising{
  --palette-bg: var(--color-red-sun-rising);
  --palette-fg: var(--color-white);
}

.color-deep-orange {
  --palette-bg: var(--color-deep-orange);
  --palette-fg: var(--color-white);
}

.color-huckleberry{
  --palette-bg: var(--color-huckleberry);
  --palette-fg: var(--color-white);
}

.color-strawberry-quartz{
  --palette-bg: var(--color-strawberry-quartz);
  --palette-fg: var(--color-black);
}

.color-violet-strands{
  --palette-bg: var(--color-violet-strands);
  --palette-fg: var(--color-black);
}


.color-deep-purple {
  --palette-bg: var(--color-deep-purple);
  --palette-fg: var(--color-white);
}


.color-light-blue {
  --palette-bg: var(--color-light-blue);
  --palette-fg: var(--color-black);
}



.color-contrast {
  --palette-bg: var(--color-black);
  --palette-fg: var(--color-white);
}

.color-danger {
  --palette-accent: var(--color-red-sun-rising);
}

a.color-danger {
  color: var(--palette-accent);
}


.color-valid {
  --palette-bg: var(--color-valid);
  --palette-fg: var(--color-white);
}

.color-faint {
  --palette-bg: var(--color-faint);
  --palette-fg: var(--color-white);
}

.color-bright {
  --palette-bg: var(--color-bright);
  --palette-fg: var(--color-black);
}

.color-white {
  --palette-bg: var(--color-white);
  --palette-fg: var(--color-black);
}