:root {
  --color-dark: #939393;
  --color-mid: #b2b2b2;
  --color-light: #dcdcdc;
  --color-text: black;
  --color-bg: white;
  --color-text-active: white;
  --color-bg-active: black;
  --color-error: red;


  --color-blue: #3498db;
  --color-purple: #9b59b6;
  --color-green: #2ecc71;
  --color-red: #e74c3c;
  --color-orange: #f39c12;
}


.color-contrast {
  --color-bg: black;
  --color-text: white;
  --color-bg-active: var(--color-mid);
}


.color-danger {
  --color-bg: var(--color-red);
}