@import url("./neusa/neusa.css");
@import url("./reset.css");
@import url("./layouts.css");
@import url("./colours.css");
@import url("./behaviours.css");

:root {
  font-size: clamp(12px, 1vw, 16px);
}

body {
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overscroll-behavior: none
}

.app-content {
  font-family: 'Neusa';
  line-height: 1;
  text-transform: uppercase;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  background: var(--color-bg);
  color: var(--color-text);
}

p, input, input[type="date"], input[type="time"], select, label {
  font-size: 1.5rem;
  color: inherit;
}


input, input[type="date"], input[type="time"], select {
  display: block;
  padding: .5rem;
  border: 1px solid var(--color-text);
  width: 100%;
}

input:user-invalid {
  border-color: var(--color-error);
}

label {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;

  & + * {
    margin-top: .25rem !important;
  }
}

a {
  cursor: pointer;
}

h1 {
  font-weight: normal;
  font-size: 3rem;
}

h2 {
  font-weight: normal;
  font-size: 2rem;
}

time {
  display: block;
  font-weight: bold;
  font-size: 3rem;
}


nav {
  ul { 
    padding: 0px 
  }
  li {
    list-style: none; 
    margin: 0px;
  }
}

.content {
  padding: 1rem;
}


.card {
  --color-bg: var(--color-light);
  background: var(--color-bg);
  border: 1px solid var(--color-bg);
  color: var(--color-text);
  padding: 1rem;
  height: 100%;
}

a.card {
  display: flex;
  text-decoration: none;
  &:hover {
    border: 1px solid var(--color-text);
  }
}


.card-fancy {
  border-bottom-left-radius: .5rem;
  border-top-right-radius: 3rem;
}

.card-transparent {
  background: transparent;
  border-color: transparent;
}




.color-contrast {
  --color-bg: black;
  --color-text: white;
  --color-bg-active: var(--color-mid);
}

.toolbar {
  --color-toolbar-bg: var(--color-dark);
  --color-toolbar-separator: var(--color-dark);
  --color-toolbar-item-bg: var(--color-mid);
  --color-toolbar-item-text: var(--color-dark);
  --color-toolbar-active-bg: var(--color-bg);
  --color-toolbar-active-text: var(--color-text);

  background-color: var(--color-toolbar-bg);

  ul {
    display: flex;
    gap: 1px;
    background-color: var(--color-toolbar-separator);
    width: max-content;
    height: max-content;
  }

  a {
    display: block;
    background-color: var(--color-toolbar-item-bg);
    color: var(--color-toolbar-item-text);
    text-decoration: none;
  }

  a.active {
    background-color: var(--color-toolbar-active-bg);
    color: var(--color-toolbar-active-text);
  }

  a:not(:has(svg, img)) {
    font-size: 1.5rem;
    padding: .5rem;
  }

  svg, img {
    width: 4rem;
    height: 4rem;
  }
}

.toolbar.color-contrast {
  --color-toolbar-bg: var(--color-bg);
  --color-toolbar-separator: var(--color-text);
  --color-toolbar-item-bg: var(--color-bg);
  --color-toolbar-item-text: var(--color-text);
  --color-toolbar-active-bg: var(--color-mid);
}

ul.ribbon {
  display: flex;
  width: 100%;
  justify-content: stretch;

  li {
    flex-grow: 1;
  }

  li a * {
    margin: 0px auto;
  }

  @media screen and (min-width: 500px) {
    flex-direction: column;
  }
}



.status-bar {
  background-color: var(--color-bg);
  color: var(--color-text);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: .5rem 1rem;
  border-inline-start: 1px solid var(--color-text);

  .phase-time {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
  }
}




.icon {
  fill: currentColor;
  height: 4rem;
  width: 4rem;
}

button {
  text-transform: inherit;
  font-size: inherit;
  background: var(--color-bg-active);
  color: var(--color-text-active);
  padding: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: 1px solid var(--color-bg-active);

  &:hover {
  --color-bg-active: green;
  }

  &[disabled] {
    pointer-events: none;
    opacity: .5;
  }
}

.subtitle {
  font-weight: bold;
}

.annotation {
  font-weight: bold;
  font-size: 1.75rem;
}

.text {
  text-transform: none;
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.2;
}

.shadow {
  box-shadow: .5rem .5rem 1rem rgba(0,0,0,.2);
}





.hidden {
  display: none;
}

.target-visible:target {
  display: block;
}


body {
   background: black;
}

.scrollable {
  max-height: 100%;
  overflow-y: scroll;
}





.button-close {
  border-radius: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: var(--color-bg);
  color: var(--color-text);
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  padding: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  translate: 50% -50%;

  &:hover {
    background: red;
    color: var(--color-bg);
  }

  &::after {
    content: '\00d7';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.container {
  position: relative;
}



