:root {
  --color-dark: #939393;
  --color-mid: #b2b2b2;
  --color-light: #dcdcdc;
  --color-text: black;
  --color-bg: white;
  --color-text-active: white;
  --color-bg-active: black;
  --color-error: red;

  --gap: 1rem;
}

body {
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overscroll-behavior: none
}

.app-content {
  font-family: 'Neusa';
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  background: var(--color-bg);
  color: var(--color-text);
}

p, input, input[type="date"], input[type="time"], select, label {
  font-size: 1.5rem;
  color: inherit;
}


input, input[type="date"], input[type="time"], select {
  display: block;
  padding: .5rem;
  border: 1px solid var(--color-text);
  width: 100%;
}

input:user-invalid {
  border-color: var(--color-error);
}

label {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;

  & + * {
    margin-top: .25rem !important;
  }
}

a {
  cursor: pointer;
}

h1 {
  font-weight: normal;
  font-size: 3rem;
}

h2 {
  font-weight: normal;
  font-size: 2rem;
}

time {
  display: block;
  font-weight: bold;
  font-size: 3rem;
}


nav {
  ul { 
    padding: 0px 
  }
  li {
    list-style: none; 
    margin: 0px;
  }
}

.content {
  padding: 1rem;
}

[class*="grid"] {
  display: grid;
  gap: var(--gap);
}

.grid-two {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four {
  grid-template-columns: repeat(4, 1fr);
}

[class*="gap"] {
  gap: var(--gap);
}

.gap-tight {
  --gap: .5rem;
}

.gap-loose {
  --gap: 2rem;
}

.card {
  display: block;
  --color-bg: var(--color-light);
  background: var(--color-bg);
  border: 1px solid var(--color-bg);
  color: var(--color-text);
  padding: 1rem;
  height: 100%;
}

a.card {
  text-decoration: none;
  &:hover {
    border: 1px solid var(--color-text);
  }
}


.card-fancy {
  border-bottom-left-radius: .5rem;
  border-top-right-radius: 3rem;
}

.card-transparent {
  background: transparent;
  border-color: transparent;
}

.stack > * + *{
  margin-top: 1rem;
}

.stack-tight > * + *{
  margin-top: .5rem;
}

.stack-loose > * + *{
  margin-top: 2rem;
}

.color-contrast {
  --color-bg: black;
  --color-text: white;
  --color-bg-active: var(--color-mid);
}

.toolbar {
  --color-toolbar-bg: var(--color-dark);
  --color-toolbar-separator: var(--color-dark);
  --color-toolbar-item-bg: var(--color-mid);
  --color-toolbar-item-text: var(--color-dark);
  --color-toolbar-active-bg: var(--color-bg);
  --color-toolbar-active-text: var(--color-text);

  background-color: var(--color-toolbar-bg);

  ul {
    display: flex;
    gap: 1px;
    background-color: var(--color-toolbar-separator);
    width: max-content;
    height: max-content;
  }

  a {
    display: block;
    background-color: var(--color-toolbar-item-bg);
    color: var(--color-toolbar-item-text);
    text-decoration: none;
  }

  a.active {
    background-color: var(--color-toolbar-active-bg);
    color: var(--color-toolbar-active-text);
  }

  a:not(:has(svg, img)) {
    font-size: 1.5rem;
    padding: .5rem;
  }

  svg, img {
    width: 4rem;
    height: 4rem;
  }
}

.toolbar.color-contrast {
  --color-toolbar-bg: var(--color-bg);
  --color-toolbar-separator: var(--color-text);
  --color-toolbar-item-bg: var(--color-bg);
  --color-toolbar-item-text: var(--color-text);
  --color-toolbar-active-bg: var(--color-mid);
}


.status-bar {
  background-color: var(--color-bg);
  color: var(--color-text);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: .5rem 1rem;
  border-inline-start: 1px solid var(--color-text);

  .phase-time {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
  }
}

/* LAYOUTS */

.layout-column {
  display: flex;
  flex-direction: column;
}

.layout-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.layout-toolbar {
  display: grid;
  grid-template-columns: 4rem 1fr;
  width: 100%;
  height: 100%;
}





.icon {
  fill: currentColor;
  height: 4rem;
  width: 4rem;
}

button {
  text-transform: inherit;
  font-size: inherit;
  background: var(--color-bg-active);
  color: var(--color-text-active);
  padding: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: 1px solid var(--color-bg-active);

  &:hover {
  --color-bg-active: green;
  }

  &[disabled] {
    pointer-events: none;
    opacity: .5;
  }
}

.subtitle {
  font-weight: bold;
}

.annotation {
  font-weight: bold;
  font-size: 1.75rem;
}

.text {
  text-transform: none;
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.2;
}

.shadow {
  box-shadow: .5rem .5rem 1rem rgba(0,0,0,.2);
}




dialog {
  background: var(--color-bg);
  border: none;
  /* margin-block-end: 0; */
  /* min-height: 50vh; */
  width: 650px;

  &[open] {
    animation: slideIn 0.2s forwards;
  }

  &::backdrop {
    display: block;
    background: rgba(0, 0, 0, 0.5);
  }

  &[open]::backdrop {
    animation: fadeIn 0.2s forwards;
  }
}

@keyframes slideIn {
  0%{ translate: 0% 100% }
  100%{ translate: 0 0 }
}

@keyframes fadeIn{
  0%{ opacity: 0 }
  100%{ opacity: 1 }
}

.hidden {
  display: none;
}

.target-visible:target {
  display: block;
}

[data-draggable] {
  cursor: grab;
}

[data-draggable].is-dragging {
  border: 1px solid red;
}

.card.is-dropping {
  background: var(--color-mid);
}

body {
   background: black;
}
/* 
.app-content {
  transition: all .2s ease-in-out;
}

.app-content:has(dialog[open]) {
  scale: .98; 
  border-radius: 20px; 
  overflow: hidden;
  filter: blur(3px);
} */


.scrollable {
  max-height: 100%;
  overflow-y: scroll;
}


/* body {
  background: white;
}

.app-content {
  background: none;
  background: url("/images/bg.jpg") top left no-repeat;
  backdrop-filter: blur(10px) brightness(30%);
  color: white;
  text-shadow: 0 0 20px #fff;
} */


.drop {
  border: 2px dashed var(--color-text);
  padding: 1rem;
}

.button-close {
  border-radius: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: var(--color-bg);
  color: var(--color-text);
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  padding: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  translate: 50% -50%;

  &:hover {
    background: red;
    color: var(--color-bg);
  }

  &::after {
    content: '\00d7';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.container {
  position: relative;
}

.is-sortable-ghost {
  opacity: .5;
} 

.droppable-target {
  position: relative;
}

.droppable::after {
  content: "";
  position: absolute;
  inset: 0px;
  pointer-events: none;
}

.is-dragging .droppable::after {
  pointer-events: all;
}

.card:has(.is-sortable-ghost) {
  background: var(--color-mid);
}