:root {
  --color-dark: #939393;
  --color-mid: #b2b2b2;
  --color-light: #dcdcdc;
  --color-text: black;
  --color-bg: white;
  --color-text-active: white;
  --color-bg-active: black;
}

body {
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overscroll-behavior: none
}

.app-content {
  font-family: 'Neusa';
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  color: var(--color-text);
}

p, input, select, label {
  font-size: 1.5rem;
  color: inherit;
}

input, select {
  display: block;
  padding: .5rem;
  border: 1px solid var(--color-text);
  width: 100%;
}

label {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;

  & + input, & + select {
    margin-top: .25rem !important;
  }
}


h1 {
  font-weight: normal;
  font-size: 3rem;
}

h2 {
  font-weight: normal;
  font-size: 2rem;
}

time {
  display: block;
  font-weight: bold;
  font-size: 3rem;
  font-variant-numeric: tabular-nums;
}


nav {
  ul { 
    padding: 0px 
  }
  li {
    list-style: none; 
    margin: 0px;
  }
}

.content {
  padding: 1rem;
}

[class*="grid"] {
  display: grid;
  gap: 1rem;
}

.grid-two {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four {
  grid-template-columns: repeat(4, 1fr);
}

.card {
  display: block;
  --color-bg: var(--color-light);
  background: var(--color-bg);
  border: 1px solid var(--color-bg);
  color: var(--color-text);
  padding: 1rem;
}

a.card {
  text-decoration: none;
  &:hover {
    border: 1px solid var(--color-text);
  }
}


.card-fancy {
  border-bottom-left-radius: .5rem;
  border-top-right-radius: 3rem;
}

.card-transparent {
  background: transparent;
  border-color: transparent;
}

.stack > * + *{
  margin-top: 1rem;
}

.stack-tight > * + *{
  margin-top: .5rem;
}

.stack-loose > * + *{
  margin-top: 2rem;
}

.color-contrast {
  --color-bg: black;
  --color-text: white;
  --color-bg-active: var(--color-mid);
}

.toolbar {
  --color-toolbar-bg: var(--color-dark);
  --color-toolbar-separator: var(--color-dark);
  --color-toolbar-item-bg: var(--color-mid);
  --color-toolbar-item-text: var(--color-dark);
  --color-toolbar-active-bg: var(--color-bg);
  --color-toolbar-active-text: var(--color-text);

  background-color: var(--color-toolbar-bg);

  ul {
    display: flex;
    gap: 1px;
    background-color: var(--color-toolbar-separator);
    width: max-content;
    height: max-content;
  }

  a {
    display: block;
    background-color: var(--color-toolbar-item-bg);
    color: var(--color-toolbar-item-text);
    text-decoration: none;
  }

  a.active {
    background-color: var(--color-toolbar-active-bg);
    color: var(--color-toolbar-active-text);
  }

  a:not(:has(svg, img)) {
    font-size: 1.5rem;
    padding: .5rem;
  }

  svg, img {
    width: 4rem;
    height: 4rem;
  }
}

.toolbar.color-contrast {
  --color-toolbar-bg: var(--color-bg);
  --color-toolbar-separator: var(--color-text);
  --color-toolbar-item-bg: var(--color-bg);
  --color-toolbar-item-text: var(--color-text);
  --color-toolbar-active-bg: var(--color-mid);
}


.status-bar {
  background-color: var(--color-bg);
  color: var(--color-text);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: .5rem 1rem;
  border-inline-start: 1px solid var(--color-text);

  .phase-time {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
  }
}

/* LAYOUTS */

.layout-column {
  display: flex;
  flex-direction: column;
}

.layout-row {
  display: flex;
  flex-direction: row;
}

.layout-toolbar {
  display: grid;
  grid-template-columns: 4rem 1fr;
  width: 100%;
  height: 100%;
}





.icon {
  fill: currentColor;
  height: 4rem;
  width: 4rem;
}

button {
  text-transform: inherit;
  font-size: inherit;
  background: var(--color-bg-active);
  color: var(--color-text-active);
  padding: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: 1px solid var(--color-bg-active);

  &:hover {
  --color-bg-active: green;
  }

  &[disabled] {
    pointer-events: none;
    opacity: .5;
  }
}

.subtitle {
  font-weight: bold;
}

.annotation {
  font-weight: bold;
  font-size: 1.75rem;
}

.text {
  text-transform: none;
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.2;
}

.shadow {
  box-shadow: .5rem .5rem 1rem rgba(0,0,0,.2);
}




dialog {
  display: none;
  opacity: 0;
  pointer-events: none;
  background: var(--color-bg);
  width: 650px;
  border: none;
  /* margin-top: 1rem; */
  /* translate: 0 calc( -100% - 2rem ); */
  /* transition: translate .2s; */

  &[open] {
    display: block;
    opacity: 1;
    /* translate: 0 0; */
    pointer-events: revert;
  }

  &::backdrop {
    display: block;
    background: rgba(0, 0, 0, 0.5);
  }

  &[open]::backdrop {
    animation: fadeIn 0.2s forwards;
  }
}

@keyframes fadeIn{
  0%{ opacity: 0 }
  100%{ opacity: 1 }
}

.hidden {
  display: none;
}

.target-visible:target {
  display: block;
}

.draggable {
  cursor: grab;
}

.is-dragging {
  border: 1px solid red;
}

.card.droppable.is-dropping {
  background: var(--color-mid);
}