:root {
  --color-mid: #dcdcdc;
  --color-text: black;
  --color-bg: white;
  --color-text-active: white;
  --color-bg-active: black;
}


body {
  padding: 0px;
  margin: 0px;
  position: absolute;
  inset: 0px;
}

.app-content {
  font-family: 'Neusa';
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  inset: 0px;
  position: absolute;
  color: var(--color-text);
}

p, input, label {
  font-size: 1.5rem;
  color: inherit;
}

input {
  padding: .5rem;
  border: 1px solid var(--color-text);
}


h1 {
  font-weight: normal;
  font-size: 3rem;
}

h2 {
  font-weight: normal;
  font-size: 2rem;
}

time {
  display: block;
  font-weight: bold;
  font-size: 3rem;
}


nav {
  ul { 
    padding: 0px 
  }
  li {
    list-style: none; 
    margin: 0px;
  }
}

.content {
  padding: 1rem;
}

[class*="grid"] {
  display: grid;
  gap: 1rem;
}

.grid-two {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four {
  grid-template-columns: repeat(4, 1fr);
}

.card {
  display: block;
  --color-bg: var(--color-mid);
  background: var(--color-bg);
  border: 1px solid var(--color-bg);
  color: var(--color-text);
  padding: 1rem;
}

a.card {
  text-decoration: none;
  &:hover {
    border: 1px solid var(--color-text);
  }
}


.card-fancy {
  border-bottom-left-radius: .5rem;
  border-top-right-radius: 3rem;
}

.stack > * + *{
  margin-top: 1rem;
}

.stack-tight > * + *{
  margin-top: .5rem;
}

.stack-loose > * + *{
  margin-top: 2rem;
}


.toolbar {
  background-color: var(--color-bg);
  color: var(--color-text);
  --color-bg-active: white;
  --color-text-active: black;
  width: 4rem;

  transition: color .4s, background-color .4s;

  li {
    border-block-end: 1px solid var(--color-text);
  }

  a {
    display: block;
    color: currentColor;
  }

  a.active {
    background-color: var(--color-bg-active);
    color: var(--color-text-active);
  }

  svg, img {
    width: 4rem;
    height: calc(4rem - 1px);
  }
}

.status-bar {
  background-color: var(--color-bg);
  color: var(--color-text);
  height: 4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .5rem;
  border-inline-start: 1px solid var(--color-text);
  border-block-end: 1px solid var(--color-text);
}



.color-contrast {
  --color-bg: black;
  --color-text: white;
}

.icon {
  fill: currentColor;
  height: 4rem;
  width: 4rem;
}

button {
  text-transform: inherit;
  font-size: inherit;
  background: var(--color-bg-active);
  color: var(--color-text-active);
  padding: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: 1px solid var(--color-bg-active);

  &:hover {
  --color-bg-active: green;
  }
}

.subtitle {
  font-weight: bold;
}

.annotation {
  font-weight: bold;
  font-size: 1.75rem;
}

.text {
  text-transform: none;
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.2;
}

.shadow {
  box-shadow: .5rem .5rem 1rem rgba(0,0,0,.2);
}



/* LAYOUTS */

.layout-column {
  display: flex;
  flex-direction: column;
}

.layout-row {
  display: flex;
  flex-direction: row;
}

.layout-toolbar {
  display: grid;
  grid-template-columns: 4rem 1fr;
  width: 100%;
  height: 100%;
}

.layout-modal {
  position: fixed;
  
  background: rgba(0,0,0,.5);
  inset: 0px;
  padding: 2rem;
  display: flex;
  align-items: start;
  justify-content: center;

  .layout-modal-content {
    background: var(--color-bg);
    width: 650px;
    max-width: 100%;
  }

}
